* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body  {
  height: 2000px;
}

.navbar {
  padding: 0;

}

.navbar-brand {
  background-color: white;
  padding-bottom: 20px;
  margin-top: 0;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  margin-left: 9%;
}

.navbar-brand img {
  width: 70%;
  transform: translateX(20px) translateY(3px);
}

.navbar-nav {
  background-color: white;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-top: 0;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  transform: translateX(360px) translateY(-1px);
}

.navbar-nav li  {
  transform: translateY(7px);
}

.hero video {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 65%;
}

.visor {
  transform: translateY(-110px);
  scale: 350%;
  opacity: 0.7;
}

.modelbike  img {
  width: 40%;
  transform: translateY(-470px);
}

.modelbike:hover img {
  scale: 101%;
  transition: .7s;
}


.brandtitle img {
  transform: translateY(-430px);
  left: 0%;
  top: 30%;
  width: 60%;
}

.heading1 h1 {
  transform: translateY(-430px);
  left: 0%;
  top: 30%;
  width: 60%;
  color: white;
}

.heading1 {
  position: absolute;
}


.section1 {
  padding: 0 15%;
}
