* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 2000px;
  margin: 0;
  padding: 0;
  display: flexbox;
  align-items: center;
  justify-content: center;
}

.navbar {
  margin-top: 10px;
  padding: 0;
}

.navbar-brand {
  background-color: white;
  margin-top: 0;
  border-radius: 50px;
  margin-left: 9%;
  padding-left: 30px;
  box-shadow:  5px 4px 2px rgba(158, 202, 46, 0.7);
}

.navbar-brand img {
  width: 90%;
}

.navbar-nav {
  position: absolute;
  padding: 0 10px;
  right: 10%;
  background-color: white;
  border-radius: 50px;
  box-shadow:  -5px 4px 2px rgba(158, 202, 46, 0.7);
}

.navbar-toggler  {
  position: absolute;
  touch-action: none;
  scale: 100%;
  margin: 0;
  background-color: #9eca2e;
  border-radius: 50px;
  padding: 10px 10px;
  opacity: 0.7;
  z-index: 1;
}

.herosection  {
  position: relative;
  width: min(90%, 800px);
  aspect-ratio: 4/3;
  margin-inline: auto;
}


/* .herosection::after {
  background-image: url('./images/parallax4.jpg');
  background-size: contain;
  content: '';
  position: absolute;
  inset: 0;
  opacity: .05;
} */

.heropath {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  clip-path: polygon(0% 0%, 100% 0%, 100% 21%, 98% 26%, 95% 50%, 80% 85%, 55% 100%, 45% 100%, 20% 85%, 5% 50%, 2% 26%, 0% 21%, 0% 100%);
}

.heropath video {
  position: absolute;
  object-fit: fill;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.visor {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 0;
}


.modelbike img {
  width: 30%;
  position: absolute;
  bottom: 0;
  right: 35%;
  z-index: 1;
  animation: intro 1.5s;
}

@keyframes intro {
    0% {
        scale: 45%;
        left: 0; 
        bottom: 100px;
    }

    100% {
        left:35%;
    }
}

.modelbike:hover img {
  scale: 103%;
  transition: 0.7s;
}

.brandtitle img {
  position: absolute;
  left: 5%;
  bottom: 50%;
  width: 90%;
}

.heropath h3 {
  position: absolute;
  text-align: center;
  bottom: 40%;
  width: 100%;
  color: white;
}


/* social icons */

.icons {
  position: fixed;
  bottom: 10%;
  left: 5%;
  z-index: 2;
  background-color: #9eca2e;
  border-radius: 50px;
  padding-top: 14px;
}

.icons li {
  list-style-type: none;
  text-decoration: none;
  padding: 10px;
  font-size: x-large;
}

.icons ul {
  padding-inline-start: 0;
  padding-left: 0;
}

.icons a {
  list-style-type: none;
  padding: 10px;
  color: rgba(0, 0, 0, 0.9);
}

body .icons a:hover {
  color: #9eca2e;
  background-color: black;
  backdrop-filter: blur(10px);
  border-radius: 28px;
}

.section1 {
  margin-bottom: 100px;
}

.section1 .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section1 .card {
  aspect-ratio: 4/3;
  width: 20%;
  border: none;
}

.iconbox  {
  margin-top: 20px;
  display: flex;
  clip-path: circle();
  background-color: #9eca2e;
  height: 150px;
  justify-content: center;
}

.section1 img  {
  align-self: center;
  height: 55%;
}

.section2 {
  display: flexbox;
  align-items: center;
  justify-content: center;
  width: min(90%, 800px);
  margin-inline: auto;
}


.accordion button:not(.collapsed) {
  background-color: rgba(158,202,46,0.5);
  box-shadow:  -5px 5px 10px rgba(0, 0, 0, 0.7);
}

.accordion button:focus {
  box-shadow:  -5px 5px 10px rgba(0, 0, 0, 0.7);
  border: solid 2px #9eca2e;
}

.accordion-item {
  background-color: rgba(158,202,46,0.6);
  box-shadow:  -5px 5px 10px rgba(158, 202, 46, 0.7);
  border-radius: 50px;
}



@media screen and (max-width:991px) {
  .icons {
      display: none;
  }

  .navbar-brand {
    /* display: none; */
    margin-inline: min(10%);
    transform: translateX(-10px);

  }

  .brandtitle img {
    display: none;
    /* position: absolute;
    left: 0;
    bottom: 60%;
    width: 100%; */
  }

  .heropath h3 {
    position: absolute;
    text-align: center;
    bottom: 35%;
    color: white;
  }

  .modelbike img {
    width: 50%;
    position: absolute;
    bottom: -25%;
    right: 25%;
    z-index: 1;
    animation: intro 1.5s;
  }
  
  @keyframes intro {
      0% {
          scale: 45%;
          left: -300px; 
          bottom: 100px;
      }
  
      100% {
          left:25%;
      }
  }

  .navbar-toggler-icon  {
    position: relative;
  }

  .navbar-nav {
    touch-action: none;
    position: absolute;
    text-align: center;
    border: solid thin black;
    width: 100%;
    top: 330%;
    left: 0%;
    background-color: white;
    border-radius: 50px;
    box-shadow:  -5px 4px 2px rgba(158, 202, 46, 0.7);
  }

  .nav-item  {
    margin: 5px;
    width: 100%;
    background-color: rgba(158, 202, 46, 0.7);
    border-radius: 50px;

  }



  .navbar-toggler  {
  position: absolute;
  touch-action: none;
  top: 80vh;
  margin: 0;
  background-color: #9eca2e;
  border-radius: 50px;
  opacity: 0.7;
  z-index: 1; 
  }

  .section1 .container {
    display: block;
    width: 100%;
  }

}